body {
    background-color: #E7DEC8;
    font-family: 'malgun gothic';
    color: #30475E;
}

.navbar {
    margin-bottom: 30px;
}

.navbar-brand {
    color: #30475E;
    font-weight: bold;
}

.navbar-brand:visited {
    color: #30475E;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #30475E;
    font-weight: bold;
}

.navigatiebarlink {
    color: #30475E;
    text-decoration: none;
}

.navigatiebarlink:visited {
    color: #30475E;
    font-weight: bold;
}

.navigatiebarlink:hover {
    color: #30475E;
    font-weight: bold;
}

.actief {
    color: #30475E;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

.contactinformatie {
    margin-bottom: 30px;
}

.formulier {
    margin-top: 15px;
}

#tekstvak {
    height: 400px;
}

.form-floating label {
    padding-left: 20px;
}

.form-control, .form-select {
    background-color: #7E8A97;
    color: #30475E;; 
}

.form-control:focus, .form-select:focus {
    background-color: #7E8A97;
    color: #30475E;
    box-shadow: none; 
}

.form-select option:checked {
    background-color: #30475E;
    color: #7E8A97; 
}

.btn {
    background-color: #30475E !important;
    color: #7E8A97 !important;
}

.btn:hover {
    background-color: #30475E;
    color: #7E8A97;
}


.footer {
    background-color: #CBAF87;
    text-align: center;
    margin-top: 40px;
}

.footer>div {
    padding: 5px;
}

.footer>div a {
    color: #30475E;
}